@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: #1C1410;
  color: #E8E8D0;
}